<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sendinfo.auto.mapper.AuthUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sendinfo.auto.entity.AuthUser">
        <id column="id" property="id" />
        <result column="password" property="password" />
        <result column="is_superuser" property="isSuperuser" />
        <result column="username" property="username" />
        <result column="email" property="email" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="login_date" property="loginDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, password, is_superuser, username, email, create_time, update_time, login_date
    </sql>

    <select id="selectByName" resultMap="BaseResultMap">
        select * from auth_user where username = #{userName}
    </select>

    <insert id="insert" parameterType="com.sendinfo.auto.entity.AuthUser" keyProperty="id" useGeneratedKeys="true">
        insert into auth_user (username, password, is_superuser, email, login_date, create_time, update_time)
        values ( #{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{isSuperuser,jdbcType=SMALLINT},#{email,jdbcType=VARCHAR},
                 #{loginDate,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.sendinfo.auto.entity.AuthUser">
        update auth_user
        set update_time = #{updateTime,jdbcType=TIMESTAMP},
            login_date = #{loginDate,jdbcType=TIMESTAMP},
            password = #{name,jdbcType=VARCHAR},
            email = #{url,jdbcType=VARCHAR},
            is_superuser = #{type,jdbcType=SMALLINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="com.sendinfo.auto.entity.AuthUser">
        delete from auth_user where id = #{id, jdbcType=INTEGER}
    </delete>

</mapper>
