<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sendinfo.auto.mapper.AutoEnvsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sendinfo.auto.entity.AutoEnvs">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, type
    </sql>

    <select id="selectEnvList" parameterType="com.sendinfo.auto.entity.AutoEnvs" resultMap="BaseResultMap">
        select *
        from  auto_envs
        where 1=1
        <if test="envs.type != null and envs.type != ''"> and type = #{envs.type}</if>
        <if test="envs.name != null  and envs.name != ''"> and `name` like concat('%', #{envs.name}, '%')</if>
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select * from auto_envs where name = #{name}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select * from auto_envs where id = #{id}
    </select>

    <insert id="insert" parameterType="com.sendinfo.auto.entity.AutoEnvs" keyProperty="id" useGeneratedKeys="true">
        insert into auto_envs (`name`, `type`, url, author, editor, create_time, update_time)
        values ( #{name,jdbcType=VARCHAR},#{type,jdbcType=TINYINT},#{url,jdbcType=VARCHAR},#{author,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.sendinfo.auto.entity.AutoEnvs">
        update auto_envs
        set editor = #{editor,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            `name` = #{name,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR},
            `type` = #{type,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="com.sendinfo.auto.entity.AutoEnvs">
        delete from auto_envs where id = #{id, jdbcType=INTEGER}
    </delete>

</mapper>
